.main-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 92px;
  background: url('https://iev.aero/images/main.jpg') no-repeat center bottom;
  background-size: cover;

  &__title {
    text-transform: uppercase;
    font-size: 70px;
    color: #fff;
    line-height: 80px;
    font-weight: 300;
    margin-top: 0;
  }
}
