.nav-list {
  padding: 0;
  margin: 0;
  display: flex;
  font-weight: 600;
  font-size: 24px;

  &__container {
    display: flex;
    justify-content: space-around;
    flex: 1 1 auto;
  }
  &__item {
    position: relative;
    flex: 1 1 auto;
    text-transform: uppercase;
    padding: 0;
    border: 0;
    font-weight: 600;
  }
  &__link {
    // border-radius: 60px 60px 0 0;
    text-decoration: none;
    width: 100%;
    font-size: 24px;
    line-height: 57px;
    display: block;
  }

  &__item:first-child {
    display: block;
    flex-basis: auto;
    margin-right: -60px;
  }
  &__item:first-child &__link {
    position: relative;
    // padding-right: 100px;
    background-color: #fff;
    color: #1eb7ee;
    text-align: center;
    border-radius: 60px 60px 0 0;
    z-index: 1;
  }

  &__item:last-child {
    display: block;
    margin-left: -60px;
  }
  &__item:last-child &__link {
    position: relative;
    // padding-left: 100px;
    // background-color: #1eb7ee;
    // color: #fff;
    text-align: center;
    border-radius: 60px 60px 0 0;
  }

  &__text {
    font-size: 24px;
    display: inline-block;
    height: auto;
  }
  &__item:first-child &__text {
    padding-left: 25px;
  }
  &__item:last-child &__text {
    padding-left: 25px;
  }

  &__icon {
    font-size: 24px;
  }
}
